<div>
	<form>
		<input type="text" placeholder="Name" ng-model="post.name">
		<input type="text" placeholder="Description" ng-model="post.description">
		<input type="text" placeholder="URL" ng-model="post.url">
		<button ng-click="savePost(post)">Save post</button>
	</form>
</div>
<!--Repeats through all the posts that are found-->
<div ng-repeat="post in posts">
    <!--    The post name and URL-->
    <h2><a ng-href="{{post.url}}">{{post.name}}</a></h2>
    <!--    The post description-->
    <p>{{post.description}}</p>
    <button ng-click="deletePost(post)" class="btn btn-danger">Delete Post</button>
</div>